// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

  body > header h1 { 
  margin: 0 0 0 0;
  font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000;
  clear: both;
  float: left;
  }

  body > header h2 { 
  margin: 0 0 0 0;
  font-size: 24px;
  color: #000;
  font-weight: normal;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #c2c2c2;
  clear: both;
  float: left;
  }