// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

  body > header h1 { 
  margin: 0 0 0 0;
  font-size: 1.4em;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 1px;
  clear: both;
  float: left;
  }

  body > header h2 { 
  margin: 0 0 0 0;
  font-size: 1em;
  color: #000000;
  font-weight: normal;
  letter-spacing: 1px;
  clear: both;
  float: left;
  }